<!doctype html>
<html lang="en" ng-app='weather_map'>
  <head>
    <meta charset="utf-8">
    <title>weather map</title>
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="app.js"></script>
    <script src="controllers.js"></script>
    <script src="service.js"></script>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="style.css"> -->

  </head>
    <body>
        <header>
            <nav>
                <a href='#!'>home</a>
                <a href='#!New York'>New York</a>
                <a href='#!London'>London</a>
                <a href='#!Zurich'>Zurich</a>
            </nav>
        </header>
      <div ng-controller="weatherPanel" >
            <div>
                <span>City</span>
                <input ng-model="cityWeather">
                <button class="btn btn-primary" ng-click="getWeather()">get weather</button>
            </div>
            <div>{{weatherForecast}}</div>
      </div>
    </body>
</html>
