
img {
    margin-left: 10px; /*0px 10px; */
    width: 100px;
  }
  
.book-row {
    display: flex;
    flex-direction: row;
    height: 120px;
    padding: 10px 0;
}

.book-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.disabled { background-color: cyan}